@import './utils.scss';

.StylingScss {
  display: flex;
  .box {
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      background: $red;
      @include square(1);
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.navy {
      background: $navy;
      @include square(6);
    }
    &.purple {
      background: $purple;
      @include square(7);
    }
    &:hover {
      background: black;
    }
  }
}
